/*Custom Styles from Developers*/


/*Downloaded Fonts*/
@font-face {
	font-family: 'Raleway-ExtraLight';
	src: url('../fonts/Raleway-ExtraLight.ttf');
}
@font-face {
	font-family: 'Raleway-Regular';
	src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
	font-family: 'Raleway-SemiBold';
	src: url('../fonts/Raleway-SemiBold.ttf');
}
@font-face {
	font-family: 'Raleway-Bold';
	src: url('../fonts/Raleway-Bold.ttf');
}
@font-face {
	font-family: 'Proxima-Nova-Alt-Regular';
	src: url('../fonts/Proxima-Nova-Alt-Regular.otf');
}
@font-face {
	font-family: 'Proxima-Nova-Alt-Light';
	src: url('../fonts/Proxima-Nova-Alt-Light.otf');
}
@font-face {
	font-family: 'Proxima-Nova-Alt-Bold';
	src: url('../fonts/Proxima-Nova-Alt-Bold.otf');
}
@font-face {
	font-family: 'HaloHandletter';
	src: url('../fonts/HaloHandletter.otf');
}
/*End of Downloaded Fonts*/

header{
	padding: 0px;
	margin: 0px;
}
a:hover{
	text-decoration: none;
}

body {
	background: url('/img/sedona_images/sedona_bg.png') no-repeat center bottom;
	margin: 0px;
	padding: 0px;
}

/*Global Class*/
img.col{
	width: 100%;
}
.menu-color{
	color: #888785 !important;
}
.text-phar2{
	font-family: 'Proxima-Nova-Alt-Regular';
	margin-top: 20px;
	font-size: 15px;
	line-height: 1.5;
	color: #7b7b7b;
}
.thin-font{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 18px;
	line-height: 200%;
}
.thin-font1{
	font-family: 'Proxima-Nova-Alt-Light';
	line-height: 150%;
}
.bold-font{
	font-family: 'Proxima-Nova-Alt-Bold';
	line-height: 150%;
}
.caps{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}
.italic{
	font-style: italic;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.border-left{
	border-left: thick solid #d0d0d0;
}
.column-height{
	height: 500px;
}
.styled-hr{
	width: 100%;
	height: 1px;
	background-color: #d0d0d0;
}
.phar1{	
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 20px;
	color: #ffffff;
}
.center{
	text-align: center;
}
.marg-top{
	margin-top: 30px;
}
.marg-bot{
	margin-bottom: 25px;
}
.phar{
	font-family: 'Proxima-Nova-Alt-Regular';
	margin-top: 15px;
	font-size: 15px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.5;
	color: #7b7b7b;
}
.text-top{	
	line-height: 1.5;
}
.size30{
	font-size: 30px;
}
.size25{
	font-size: 25px;
}
.size20{
	font-size: 20px;
}
.size18{
	font-size: 18px;
}
.size16{
	font-size: 16px;
}
.size15{
	font-size: 15px;
}
.size14{
	font-size: 14px;
}
.bold{
	font-weight: bold;
}
.no-padding{
	padding: 0px 0px 0px 0px !important;
}
.no-margin{
	margin: 0px 0px 0px 0px !important;
}
.font1{	
	font-family: 'Proxima-Nova-Alt-Regular' !important;
}
.font2{	
	font-family: 'Proxima-Nova-Alt-Bold' !important;
}
.margin-left{
	margin-left: 30px;
}
.margin-left20{
	margin-left: 20px;
}
.margin-top{
	margin-top: 15px;
}
.margin-top10{
	margin-top: 10px;
}
.margin-bot10{
	margin-bottom: 10px;
}
.margin-top20{
	margin-top: 20px;
}
.margin-bot20{
	margin-bottom: 20px;
}
.margin-top30{
	margin-top: 30px;
}
.margin-bot30{
	margin-bottom: 30px;
}
.margin-top40{
	margin-top: 40px;
}
.margin-bot40{
	margin-bottom: 40px;
}
.margin-top50{
	margin-top: 50px;
}
.margin-bot50{
	margin-bottom: 50px;
}
.margin-top80{
	margin-top: 80px;
}
.margin-bot80{
	margin-bottom: 80px;
}
.margin-top100{
	margin-top: 100px;
}
.margin-bot100{
	margin-bottom: 100px;
}
.padding-topbot20{
	padding: 20px 0px 20px 0px;
}
.padlr{
	padding: 0px 5px 0px 5px !important;
}
.margin-top5{
	margin: 5px 0px 0px 0px;
}
.orange{	
	color: rgb(222, 162, 39);
}
.line-height150{
	line-height: 150%;
}
img.rss{
	vertical-align: text-bottom;
}
.float-left{
	float: left;
}
.col-1{
	width: 8.333333333333333%;
}
.col-2{
	width: 16.66666666666667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33333333333333%;
}
.col-5{
	width: 41.66666666666667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33333333333333%;
}
.col-8{
	width: 66.66666666666667%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33333333333333%;
}
.col-11{
	width: 91.66666666666667%;
}
.col-12{
	width: 100%;
}
/*End of Global Class*/

.sedona-logo{
	text-align: center;
	z-index: 999;
}
.top-header{
	padding-top: 20px;
	padding-bottom: 16px;
	margin:0px;
	position: relative;
}
.upper-header{
	height: 55px;
	background: url('/img/sedona_images/header_shadow.png') repeat-x bottom;
	z-index: 999;
	padding: 5px 0px 0px 50px;
}
.contact-us-sun{
	background: url('/img/sedona_images/sunlight.png') no-repeat right -220% top 45%;
	height: 201px;
	width: 900px;
	position: absolute;
	top: 0px;
	right:0px;
}
.contact-us-sun-inside{
	width: 390px;
	height: 200px;
	float: right;
	margin-top: 25px;
	text-align: center;
}
.book-now{
	background-color: #66563f;
	width: 200px;
	padding: 10px 0;
	margin: auto;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.contact-us-mobile{
	display: none;

}

.banner-container{
	width: 100%;
	margin: auto;
}
.title-color{
	color: #912a6f;
}
.social-top{
	text-align: right;
	padding-top: 20px;
}
.top-bg{
	background: url('/img/sedona_images/new_header_bg.png') no-repeat;
	background-size: cover;
}
.dropbg{
	background-color: #f9f6ef !important;
}
a.menu-text{
	font-family: 'Proxima-Nova-Alt-Regular';
	font-size: 20px !important;
	color: #ffffff !important;
}
a.sub-text{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 14px !important;
	color: #ffffff !important;
}
.submenu-text{
	font-family: 'Proxima-Nova-Alt-Regular';
	font-size: 14px !important;
	color: #ffffff !important;
}
.submenu-text:hover{
	color: #9C9B99 !important;
}
.menu-margin{
	padding-top: 0px;
	text-align: center;
}
.mbtn{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 17px !important;
	padding-right: 17px !important;
}
.menu-left{
	padding-left: 12px;
}
.menu-center{
	width: 90%;
	margin: auto;
	text-align: center;
}
.index-bg{
	background:url(/img/sedona_images/sedona_baner_index.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
	width: 100%;
	height: 482px;
}
.index-bg2{
	background:url(/img/sedona_images/retreats_page.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 482px;
}
.banner-description{
	padding-top: 49px;	
	margin: auto;
	width: 61%;	
	text-align: center;
	position: relative;
}
.banner-msg{
	width: 100%;
	text-align: left;
	background: rgba(0, 0, 0, 0.5);
	padding: 62px 62px 62px 62px;
	/*position: absolute;*/
}
.banner-title{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 32px;
	color: rgb(63, 63, 63);
	padding: 0px 0px 0px 0px;
}
.banner-title1{
	font-family: 'HaloHandletter';
	line-height: 86px;
	font-size: 86px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
}
.banner-phar{	
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 20px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;	
}
.banner-phar1{	
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 20px;	
	/*line-height: 20px;*/
	color: #ffffff;
	padding: 0px 0px 0px 0px;	
}
.banner-photo{	
	margin-top: 50px;		
	/*background: rgba(5, 5, 5, 0.5);*/
	right: 0px;
	text-align: right;
	position: relative;
}
.banner-photo img.photo{	
	border: solid 2px #ffffff;
	/*right: 0px;*/
	position: relative;
	width: 115%;
	text-align: right;
	margin-left: -60px;	
}
.title1{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 32px;
	color: rgb(63, 63, 63);
}
.title2{	
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 23px;
	color: rgb(222, 162, 39);
	padding-top: 20px;
}
.title3{	
	font-family: 'Proxima-Nova-Alt-Regular';
	font-size: 18px;
	color: #5f5e5e;
	padding-top: 10px;
}
.title4{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 33px;	
	color: rgb(222, 162, 39);
	padding-top: 20px;
	line-height: 33px;
}
.title5{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 32px;	
	color: rgb(222, 162, 39);
	padding-top: 15px;
}
.title6{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 23px;	
	color: rgb(222, 162, 39);
	padding-top: 15px;
}
.title7{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 23px;	
	color: #7b7b7b;
	padding-top: 15px;
}
.title8{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 18px;	
	color: rgb(222, 162, 39);
	padding-top: 15px;
}

.title9{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 32px;
	color: rgb(63, 63, 63);
}
.anchor{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 14px;
}
.date{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 12px;	
	color: #7b7b7b;
	padding-top: 10px;
}
.titleb{
	font-weight: bold;
}
.side-bar-color{
	color: #dea227;
}
.button a, .button a:visited{
	font-weight: 500;
	font-size: 15px;
	background: #dea227;
	border-bottom:0px solid transparent;
	padding: 10px 30px;
	border-radius: 0px;
	color: #ffffff;
}
.button a:hover{
	background:#ebc013;
	color: #ffffff;
}
.button2 a, .button2 a:visited{
	font-weight: 500;
	font-size: 14px;
	background: #e98331;
	border-bottom:0px solid transparent;
	padding: 10px 20px;
	color: #ffffff;
	position: relative;
	margin-bottom: -100%;
}
.button2 a:hover{
	text-decoration: none;
	background:#e98331;
	color: #ffffff;
}
.web-menu-bg{
	background: #6cb04b;
	text-align: center;
}
.mobile-menu-bg{
	background:#ff9641;
}
.mobile-menu{
	display: none;
}
.web-menu{
	display: block;	
	background: #6cb04b;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	/*background-color: #39283A;*/
	color: #000;
	text-decoration: none;
}

.index-blog-video{
	width: 385px; 
	height: 246.563px;
}

/*start of CHAKRA BALANCING & CRYSTAL HEALING css*/

.chakra-balance-bg{
	background:url(../img/sedona_images/sedona_baner_chakra_balance.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
	width: 100%;
	height: 482px;
}
.chakra-balance-title{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 55px;
	line-height: 55px;
	color: #ffffff;
	padding: 100px 0px 0px 0px;
}
.chakra-balance-phar{	
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 40px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;	
}
/*end of CHAKRA BALANCING & CRYSTAL HEALING css*/

/*start of REFLEXOLOGY css*/

.reflexology-bg{
	background:url(../img/sedona_images/reflexology.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 337px;
	overflow: hidden;
}

/*end of REFLEXOLOGY css*/

/*start of HOT STONE css*/

.hot-stone-bg{
	background:url(../img/sedona_images/banner-hot-stone.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 337px;
	overflow: hidden;
}

/*end of HOT STONE css*/

/*start of HOT STONE css*/

.deep-tissue-bg{
	background:url(../img/sedona_images/banner-deep-tissue.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 337px;
	overflow: hidden;
}

/*end of HOT STONE css*/

/*start of intuitive css*/

.intuitive-bg{
	background:url(../img/sedona_images/sedona_baner_intuitive3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 337px;
	overflow: hidden;
}
.intuitive-banner-title{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 55px;
	color: #ffffff;
	padding: 100px 0px 0px 0px;
}
.intuitive-banner-phar{	
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 40px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;	
}

/*end of intuitive css*/

/*start of retreats css*/

.retreats-bg{
	background:url(../img/sedona_images/sedona_baner_retreats.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
	width: 100%;
	height: 337px;
	overflow: hidden;
}
.retreats-bg-heal-your-body-soul{
	background-image:url("../img/sedona_images/hyb_banner_cover.jpg");
}
.retreats-bg-find-your-purpose{
	background-image:url("../img/sedona_images/fyp_banner.jpg");
	background-position: 50% 35%;
}
.retreats-bg-find-your-purpose{
	background-image:url("../img/sedona_images/fyp_banner.jpg");
	background-position: 50% 35%;
}
.retreats-bg-manifest-your-dream{
	background-image:url("../img/sedona_images/myd_banner.jpg");
}
.workshops-crystal-palace{
	background-image:url("../img/sedona_images/crystalpalace_banner.jpg");
}
.retreats-banner-title{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 55px;
	color: #ffffff;
	padding: 100px 0px 0px 0px;
}
.retreats-banner-phar{	
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 40px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;	
}
img.retreats-thumb{
	width: 211px;
	max-width: 100%;
	border-color:#d0d0d0 ;
	padding: 1px !important;
	border-width: 1px;
	border-style: solid;
}

/*end of retreats css*/

/* Workshops */
.workshops-bg{
	background:url(../img/sedona_images/workshops_banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 337px;
	overflow: hidden;
}
/* end of workshops*/

/*start of massage css*/

.massage-bg{
	background:url(../img/sedona_images/sedona_baner_massage.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
	width: 100%;
	height: 482px;
}
.massage-banner-title{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 55px;
	color: #ffffff;
	padding: 100px 0px 0px 0px;
}
.massage-banner-phar{	
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 40px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;	
}

/*end of massage css*/

/*start of blog css*/

.blog-bg{
	background:url(../img/sedona_images/sedona_blog.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
	width: 100%;
	height: 482px;
}
.blog-banner-title{
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 55px;
	color: #ffffff;
	padding: 100px 0px 0px 0px;
}
.blog-banner-phar{	
	font-family: 'Proxima-Nova-Alt-Light';
	font-size: 40px;
	color: #ffffff;
	padding: 70px 0px 50px 0px;	
}

/*end of blog css*/

/* Landing page columns */

.landing-page-cols-first, .landing-page-cols{
	float:left;
	width: 225px;
	margin-top: 40px !important;
	background-color: #f2eae5;
	padding-bottom: 20px;
}
.landing-page-cols-first{
	margin-left:0px;
}
.landing-page-cols{
	margin-left:1.41%;
}
.landing-page-cols-first .text-phar, .landing-page-cols .text-phar{
	margin-top: 10px;
	padding: 0px 10px 0px 10px;
	min-height:200px;
	font-size: 16px;
}
.landing-page-cols-thumb{
	background-size: cover !important;
	height: 170px;
	background-repeat: no-repeat ;
	color: #fff;
}
.black-box{
	width: 60%;
	margin: auto;
	margin-top: 2.5%;
	color: #fff;
	text-align: center;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .5);
	padding: 20px 20px 40px 20px;
}
.black-box .banner-title{
	color: #fff;
	font-size: 60px;
	font-family: HaloHandletter;
	line-height: 60px;
}
.black-box .banner-sub-title1{
	color: #fff;
	font-size: 30px;
	font-family: Proxima-Nova-Alt-Bold;
}
.black-box .banner-sub-title2{
	color: #fff;
	font-size: 40px;
	font-family: Proxima-Nova-Alt-Bold;
}
.title-thumb{
	margin-top: 7%;
	font-size: 20px;
	line-height: 20px;
}
/* end of Landing page columns */

footer{
	padding-bottom: 20px;
	padding-top: 100px;
}

footer a{
	color: #ffffff;
}

.padding-left20{
	padding-left: 10%;
}

.content-text h3,h2{
	padding: 8px 0px;
}

.sidebar1{
	margin-top: 75px;
}
.sidebar1 .button{
	margin-top: 20px;
}
.sidebar1 .button a{
	font-size: 18px;
	font-weight: bold;
}
.grayfont{
	color: rgb(142, 142, 142);
}
.title-like-header{
	color: #666;
	padding-top: 10px;
	font-weight: bold;
}

@media screen and (max-width: 1100px){
	.contact-us-sun{
		background-size: 80%;
		background-position: right -100% top 45%;
	}
	.contact-us-sun-inside{
		width: 370px;
	}
	.contact-us-sun-inside h1{
		font-size: 35px;
	}
}

@media screen and (max-width: 1000px){
	.contact-us-sun{
		background-size: 70%;
		background-position: right -65% top 45%;
	}
	.contact-us-sun-inside{
		width: 285px;
	}
	.contact-us-sun-inside h1{
		font-size: 30px;
	}
}

@media screen and (max-width: 900px){
	.contact-us-sun{
		display: none;
	}
	.contact-us-mobile{
		display: block;
	}
	.upper-header{
		text-align: center;
		padding: 0px;
	}
}

@media screen and (max-width: 890px){
	.contact-us-sun{
		background-size: 70%;
		background-position: right -65% top 45%;
	}
	.contact-us-sun-inside{
		width: 285px;
	}
	.contact-us-sun-inside h1{
		font-size: 30px;
	}
}

@media screen and (max-width:1426px) {	
	
	
	.banner-description{
		position: none;	
	}
}

/*@media screen and (max-width:1385px) {	*/
	/**/
	/*.top-bg{*/
		/*background-size: 98% 100%;		*/
	/*}*/
/*}*/

@media screen and (max-width:1315px) {	
	
	.banner-msg{
		padding: 30px 30px 30px 30px;		
	}
}
@media screen and (max-width:1132px) {	
	
	.button a, .button a:visited{
		font-size: 12px;
		padding: 10px 10px;
	}
}

@media screen and (max-width:979px) {	
	
	.row{
		margin-right: 0px;
	}
	.mobile-menu{
		display: block;
	}
	.web-menu{
		display: none;
	}
	.index-bg{			
		height: auto;
		margin: auto;
	}
	.intuitive-bg{			
		height: auto;
		margin: auto;
	}
	.banner-description{
		padding-left: 0px;
		padding-top: 0px;
		width: 100%;
	}
	.respad{
		padding: 0px 0px 0px 0px;
		position: none;
	}
	.banner-msg{
		padding: 50px 50px 50px 50px;
		margin: 30px 30px 30px 30px;		
	}
	.banner-photo img.photo{
		width: 100%;			
		margin: 30px 30px 30px -70px;
	}
	.banner-phar {
    padding: 30px 0px 20px 0px;
	}
	.button {
    margin: 10px 0px 5px 0px;
	}
	.banner-container {
		width: 100%;
		margin: auto;
	}
	.banner-title{
	font-family: 'Proxima-Nova-Alt-Bold';
	font-size: 32px;
	color: rgb(63, 63, 63);
	padding: 30px 0px 0px 0px;
	}
	.mobile-menu-width{
		
		margin: auto;
	}
	.index-blog-video{
		width: 100%; 
		height: 246.563px;
	}
	.retreats-section .bmsiw{
		margin-left: 18%;
	}
	.retreats-section .cp{
		margin-left: 1.41%;
	}
}


@media screen and (max-width:767px) {	

	.index-bg{	
		width: 100%;
		height: auto;
		margin: auto;
	}
	.intuitive-bg{	
		width: 100%;
		height: auto;
		margin: auto;
	}
	.banner-description{
		padding-left: 0px;
		padding-top: 30px;
		width: 100%;
		margin: auto;
		text-align: center;
	}
	.banner-container {
		width: 100%;
		margin: auto;
	}
	.banner-msg{
		padding: 30px 30px 30px 30px;
		margin: 0px 0px 0px 0px;		
	}
	.banner-photo img.photo{
		width: 65%;			
		margin: 0px 0px 30px 0px;
	}
	.mobile-menu-width{
		
		margin: auto;
	}
	.banner-photo{	
		margin-top: 40px;
		text-align: center;
	}
	.social-top{
		text-align: center;
		padding-top: 20px;
	}
	.index-blog-video{
		width: 100%; 
		height: 400px;
	}
	header{
		padding: 0px !important;
	}
	.retreats-section .bmsiw{
		margin-left: 0px;
	}
	.retreats-section .landing-page-cols-first, .retreats-section .landing-page-cols{
		float: left;
	}
	.retreats-section .landing-page-cols-first{
		margin-left: 3%;
	}
	.retreats-section .bmsiw{
		margin-left: 18%;
	}
	.retreats-section .cp{
		margin-left: 1.41%;
	}
}
@media screen and (max-width:731px) {

	.retreats-section .landing-page-cols-first, .retreats-section .landing-page-cols{
		width: 30%;
	}

}
@media screen and (max-width:680px) {
	.retreats-section .landing-page-cols-first, .retreats-section .landing-page-cols{
		width: 40%;
	}
	.retreats-section .fyp, .retreats-section .bmsiw{
		margin-left: 1.41%;
	}
	/*.retreats-section .myd, .retreats-section .cp, .retreats-section .hbs{*/
		/*margin-left: 2%;*/
	/*}*/
	.black-box .banner-title{
		font-size: 400%;
	}
	.black-box .banner-sub-title1{
		font-size: 200%;
	}
}
@media screen and (max-width:742px) {	

	.banner-title{
		font-size: 25px;
	}
	.banner-phar{
		font-size: 18px;
	}
	
}

@media screen and (max-width:463px) {	

	.title-color{
		font-size: 30px;
	}
	.top-header {
		padding-top: 20px;
	}
	.index-blog-video{
		width: 100%; 
		height: 300px;
	}
	.retreats-section .landing-page-cols-first, .retreats-section .landing-page-cols{
		width: 95%;
	}
	.retreats-section .text-phar{
		min-height: 150px ;
	}
	.black-box .banner-title{
		font-size: 250%;
	}
	.black-box .banner-sub-title1{
		font-size: 150%;
	}
	.black-box{
		margin-top: 40px;
	}
}


@media screen and (max-width:368px) {

	.learn-sedona {
		font-size: 8px !important;
	}

	.index-blog-video {
		width: 100%;
		height: 250px;
	}
}
@media screen and (max-width:322px) {

	.title-color{
		font-size: 25px;
	}
	.top-header {
		padding-top: 10px;
	}
}


